
body {
    background: linear-gradient(70deg, orange 60%, cyan);
     }
   
   #topnav {
     overflow: hidden;
     position:  sticky;
     top: 0px;
     background-color: linear-gradient(70deg, orange 60%, cyan);
   }
   
 
   #topnav a{
     float: left;
     display: block;
     color: white;
     text-align: center;
     padding: 14px;
     text-decoration: none;
     margin: 0px 10px;
   }
   
   /* changes the color of the navigation bar when hovering over a tab */
   #topnav a:hover{
     background-color: cyan;
     color: white;
     text-decoration: underline;
   }
   
   /* makes your webpage adaptable to each different type of media device people use */
   /* @media 
   (prefer-reduced-motion: no-preference {
     html {
       scroll-behavior: smooth;
     }
   })
    */

h1{
  color: white;
  border-style: dotted;
  width: fit-content; /*makes border fit text */
  padding: 5px;
  /* margin: auto; will center heading but also make the top/bottom margins obselete  */
  margin-top: 20px; 
  /* placing spacing between top and bottom of headers
  but centering the headers by using auto margin */
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

h2, h3{
    color: white;
    border-style: dotted;
    width: fit-content;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

section {
    color: white;
}

div {
    align-items: center;
    justify-content: center;
    display: flex;
}

/*Selecting both text and image class 
Use float to the left to have both elements float to the left of the parent class (ie. div)
*/
.text, .image{
    display: flex;
    width: 25%;
    padding: 20px;
}

h4 {
    text-align: center;
}

